<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>产品收藏列表</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/reset.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Qian/lib/weui.min.css">
		<script type="text/javascript" src="__PUBLIC__/Qian/js/jquery-1.10.1.min.js"></script>
	</head>

	<body class="min-width">
		<!--lists-->
		<div class="productlist ui-width-100">
		   <empty name="goods">
		      <div class="empty-store">
					<i class="icon iconfont">&#xe60c;</i>
					<div class="word">
						暂时还没有收藏的商品哦~
					</div>
		      </div>
           <else />
	             <ul>
				    <foreach name="goods" item="v">
						<li>
							<a href="__MODULE__/Index/goods_detail/goods_id/{$v['goods_id']}">
								<img src="<?php echo (substr($v['goods_logo'],1)) ?>" class="ui-width-100"/>
							</a>
						</li>
			    	</foreach>
					<div class="clear">
						
					</div>
				</ul>
           </empty>
		</div>
		<script src="__PUBLIC__/Qian/js/jquery-weui.js"></script>
		
	</body>

</html>