<!DOCTYPE html  PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta charset="UTF-8">
		<title>知厨系列</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/reset.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/index.css" />
		<link rel="stylesheet" href="__PUBLIC__/Qian/lib/weui.min.css">
		<script type="text/javascript" src="__PUBLIC__/Qian/js/jquery-1.10.1.min.js"></script>
	</head>

	<body  class="min-width">
		<!--search-->
		<div class="weui-search-bar" id="searchBar">
			<form class="weui-search-bar__form" method="post" action="__CONTROLLER__/Search">
				<div class="weui-search-bar__box">
					<i class="weui-icon-search"></i>
					<input type="search" class="weui-search-bar__input" id="searchInput" name="goods_name" placeholder="搜索商品" required="">
					<a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
				</div>
				<label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
		          <i class="weui-icon-search"></i>
		          <span>搜索商品</span>
		        </label>
			</form>
			<a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
		</div>
		<!--series-->
		<foreach name="xilie" item="v" >
			<div class="stitle">
				<img src="<?php echo (substr($v['cat_logo'],1)) ?>" class="series-icon fl" />
				<div class="seriesName fl">
					{$v['cat_name']}
				</div>
				<div class="clear">

				</div>
			</div>
			<div class="productlist ui-width-100">
				<ul>
				  <foreach name="goods" item="vv" >
				    <if condition="$v['cat_id'] eq $vv['cat_id']" >
					<li>
						<a href="__CONTROLLER__/goods_detail/goods_id/{$vv['goods_id']}">
							<!-- <img src="<?php echo (substr($vv['goods_logo'],1)) ?>" class="ui-width-100" /> -->
							<img data-original="<?php echo (substr($vv['goods_logo'],1)) ?>" src="__PUBLIC__/Qian/js/grey.gif"
		                     class="ui-width-100" />
						</a>
					</li>
					</if>
				  </foreach>
					<div class="clear">

					</div>
				</ul>
			</div>
        </foreach>
		<script src="__PUBLIC__/Qian/js/jquery-weui.js"></script>
       <!--  <script src="__PUBLIC__/Qian/js/jquery-1.7.js" type="text/javascript"
		charset="utf-8"></script> -->
	   <script src="__PUBLIC__/Qian/js/jquery.lazyload.js" type="text/javascript"
		charset="utf-8"></script>
	  <script type="text/javascript" charset="utf-8">
		$(function() {
			$("img").lazyload({
				effect : "fadeIn"
			});
		});
	  </script>
	</body>

</html>