<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>产品详情</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/reset.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Qian/layer_mobile/need/layer.css" />
		<script type="text/javascript" src="__PUBLIC__/Qian/js/swiper.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Qian/js/jquery1.42.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/Qian/js/jquery.SuperSlide.2.1.1.js"></script>
		<style type="text/css">
			.swiper-container {
				z-index: 0;
				width: 100%;
			}
			
			
			.swiper-container-horizontal>.swiper-pagination,
			.swiper-container-horizontal>.swiper-pagination2 {
				width: 100%;
				bottom: 24px;
				left: 0;
				height: 0;
			}
			
			.swiper-pagination,
			.swiper-pagination2 {
				position: relative;
			}
			
			.swiper-pagination-bullet {
				width: 8px;
				height: 8px;
				display: inline-block;
				border-radius: 100%;
				background: #959494;
			}
			
			.swiper-pagination-bullet-active {
				width: 8px;
				height: 8px;
				display: inline-block;
				border-radius: 100%;
				background: #c30d23;
			}
			
			.swiper-pagination-bullet {
				margin-right: 5px;
			}
		</style>
	</head>

	<body style="background: #f0f0f2;"  class="min-width">
		<div class="productdetail"style="position: relative;">
			<img src="<?php echo (substr($goods['goods_logo'],1)) ?>" class="topImg ui-width-100" />
		</div>
		<!--产品信息-->
		<div class="jsd_title db-block" href="lists.html" style="color: #353535;">
			<div class="left-name fl">产品信息</div>
			<div class="clear">
			</div>
		</div>
		<div class="decoration">

		</div>
		<div class="productMessage">
			<ul>
				<li>品名：{$goods['goods_name']}</li>
				<li>容积：{$goods['goods_rongji']}</li>
				<if condition="$goods['goods_color'] != ''">
				  <li>颜色：{$goods['goods_color']}</li>
				</if>
				<li>产品特点：{$goods['goods_tedian']}</li>
			</ul>
		</div>
		<div class="decoration">

		</div>
		<!--产品展示-->
		<div class="jsd_title db-block" href="lists.html" style="color: #353535;">
			<div class="left-name fl">产品展示</div>
			<div class="clear">
			</div>
		</div>
		<!--轮播-->
		<div class="swiper-container" id="new">
			<div class="swiper-wrapper">
			   <foreach name="goods_pic" item="v">
					<div class="swiper-slide">
						<img src="<?php echo (substr($v['goods_pics'],1)) ?>" width="100%" />
					</div>
				</foreach>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<!--收藏信息-->
		<div class="box_collection">
			<div class="left fl shoucang" id="collection" <empty name="rst">state="on"<else/> state="off"</empty>>
				收藏该产品<i class="icon iconfont" style="color: <empty name="rst">#BFBDBD<else/>#c30d23</empty>;font-size: 14px;vertical-align: top;">&#xe65d;</i>
			</div>
			<div class="right fr">
				已收藏人数：{$goods['goods_shoucang']}
			</div>
		</div>
		<!--前往门店-->
		<div class="box-btn-md">
			<!--<a href="storelists.html" class="btn-md">前往附件门店</a>
			<img src="images/btn_qwmd_03.png"/>-->
			<a class="btn_qwmd" href="__MODULE__/Shop/shopList">
				前往附近门店&nbsp;>>
			</a>
		</div>
		<!--产品附加信息-->
		<div class="box-add">
			<div class="slideTxtBox">
				<div class="hd">
					<ul>
						<li class="br">简介</li>
						<li class="br">应用</li>
						<li>视频</li>
					</ul>
				</div>
				<div class="bd">
					<ul>
					  <foreach name="jianjie" item="v">
						<li>
							<a href="{$v['goods_jianjie_url']}" class="db-block">
								<div class="left">
									<img src="<?php echo (substr($v['goods_jianjie_pic'],1)) ?>" style="width: 80px;height: 80px;"/>
								</div>
								<div class="right">
									<h5>{$v['goods_jianjie_title']}</h5>
									<div class="infos">
										{$v['goods_jianjie_content']}
									</div>
								</div>
								<div class="clear">
									
								</div>
							</a>
						</li>
					</foreach>
					</ul>
					<ul>
					 <foreach name="yingyong" item="v">
						<li>
							<a href="{$v['goods_yingyong_url']}" class="db-block">
								<div class="left">
									<img src="<?php echo (substr($v['goods_yingyong_pic'],1)) ?>" style="width: 80px;height: 80px;"/>
								</div>
								<div class="right">
									<h5>{$v['goods_yingyong_title']}</h5>
									<div class="infos">
										{$v['goods_yingyong_content']}
									</div>
								</div>
								<div class="clear">
									
								</div>
							</a>
						</li>
					</foreach>
					</ul>
					<ul>
						 <foreach name="shipin" item="v">
						<li>
							<a href="{$v['goods_shipin_url']}" class="db-block">
								<div class="left">
									<img src="<?php echo (substr($v['goods_shipin_pic'],1)) ?>" style="width: 80px;height: 80px;"/>
								</div>
								<div class="right">
									<h5>{$v['goods_shipin_title']}</h5>
									<div class="infos">
										{$v['goods_shipin_content']}
									</div>
								</div>
								<div class="clear">
									
								</div>
							</a>
						</li>
					</foreach>
					</ul>
				</div>
			</div>
		</div>
		<!--首页导航轮播-->
		<script type="text/javascript" src="__PUBLIC__/Qian/layer_mobile/layer.js"></script>
			<script>
			//详情视频应用
			jQuery(".slideTxtBox").slide({});
			//详情图片
			var swiper = new Swiper('#new', {
				pagination: '.swiper-pagination',
				autoplay: 1000,
			});
		</script>
		<script type="text/javascript">
			$("#collection").click(function(){
                    var state = this.getAttribute("state");
					if(state === "on"){
						$.ajax({
							url: '__CONTROLLER__/goods_ShouCang',
							type: 'post',
							dataType: 'json',
							data: {user_id: "<?php echo session('user_id') ?>",goods_id:'{$goods['goods_id']}'},
							success:function(data){
								if(data.code == 1){
									layer.open({
									    content: data.msg
									    ,skin: 'msg'
									    ,time: 1, //2秒后自动关闭
								     });
								    $(".shoucang i").css('color','#c30d23'); 
									$("#collection").attr("state", "off");
								}
							}
						})	
					}else{
						//取消收藏
						$.ajax({
							url: '__CONTROLLER__/goods_QShouCang',
							type: 'post',
							dataType: 'json',
							data: {user_id: "<?php echo session('user_id') ?>",goods_id:'{$goods['goods_id']}'},
							success:function(data){
								if(data.code == 1){
									layer.open({
									    content: data.msg
									    ,skin: 'msg'
									    ,time: 1 //2秒后自动关闭
									});
								    $(".shoucang i").css('color','#BFBDBD'); 
									$("#collection").attr("state", "on");
								}
							}
						})
					}
						//提示
					  
				})
		</script>
	</body>

</html>