<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
    <link href="__PUBLIC__/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
    <title>查看产品 </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
</head>

<body>
    <div class="page-container">
        <!--选项卡-->
        <div id="tab_demo" class="HuiTab mt-20">
            <div class="tabBar clearfix mb-20">
                <span>基本信息</span>
                <span>简介</span>
                <span>应用</span>
                <span>视频</span>
            </div>
            <div class="tabCon">
                <article class="page-container pl-20 pr-20">
                    <!-- <div class="row cl order-border-b pt-5 pb-5 order-border-b pt-5 pb-5">
					<label class="form-label col-xs-4 col-sm-2 text-r text-r">订单号：</label>
					<div class="formControls col-xs-8 col-sm-9">
						20170528
					</div>
				</div> -->
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品名称：</label>
                        <div class="col-xs-8 col-sm-9">{$goodsinfo['goods_name']}
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品分类：</label>
                        <div class=" col-xs-8 col-sm-9">
                            {$parentCategory['cat_name']}——{$category['cat_name']}
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品容积：</label>
                        <div class=" col-xs-8 col-sm-9"> {$goodsinfo['goods_rongji']}
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品颜色：</label>
                        <div class=" col-xs-8 col-sm-9">{$goodsinfo['goods_color']}
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品特点：</label>
                        <div class=" col-xs-8 col-sm-9">{$goodsinfo['goods_tedian']}
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5">
                        <label class="form-label col-xs-4 col-sm-2 text-r">首页展示：</label>
                        <div class=" col-xs-8 col-sm-9">
                            <if condition="$goodsinfo['status'] eq 1">是</if>
                            <if condition="$goodsinfo['status'] eq 0">否</if>
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5 mt-20 mb-20">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品logo图：</label>
                        <div class=" col-xs-8 col-sm-9">
                            <img src="<?php echo (substr($goodsinfo['goods_logo'],1)) ?>" width="50" height="50" />
                        </div>
                    </div>
                    <div class="row cl order-border-b pt-5 pb-5 mt-20 mb-20">
                        <label class="form-label col-xs-4 col-sm-2 text-r">产品展示图：</label>
                        <div class=" col-xs-8 col-sm-9">
                            <img src="<?php echo (substr($goodsinfo['goods_zhanshi'],1)) ?>" width="50" height="50" />
                        </div>
                    </div>
                </article>
            </div>
            <div class="tabCon" id="jianjie">
                <foreach name="jianjie" item="v">
                    <article class="pl-20 pr-20 xiangqing1 pics_{$v.id}">
                        <div class="item-demo">
                            <div class="pb-20">
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">标题：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_jianjie_title']}</div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5 mt-20 mb-20">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">图片：</label>
                                    <div class=" col-xs-8 col-sm-9">
                                        <img src="<?php echo (substr($v['goods_jianjie_pic'],1)) ?>" width="50" height="50" />
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">简介：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_jianjie_content']}
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">链接地址：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_jianjie_url']}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </foreach>
            </div>
            <div class="tabCon" id="yingyong">
                <foreach name="yingyong" item="v">
                    <article class="pl-20 pr-20 xiangqing2 pics_{$v.id}">
                        <div class="item-demo">
                            <div class="pb-20">
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">标题：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_yingyong_title']}
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5 mt-20 mb-20">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">图片：</label>
                                    <div class=" col-xs-8 col-sm-9">
                                        <img src="<?php echo (substr($v['goods_yingyong_pic'],1)) ?>" width="50" height="50" />
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">简介：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_yingyong_content']}
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">链接地址：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_yingyong_url']}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </foreach>
            </div>
            <div class="tabCon" id="shipin">
                <foreach name="shipin" item="v">
                    <article class="pl-20 pr-20 xiangqing3 pics_{$v.id}">
                        <div class="item-demo">
                            <div class="pb-20">
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">标题：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_shipin_title']}
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5 mt-20 mb-20">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">图片：</label>
                                    <div class=" col-xs-8 col-sm-9">
                                        <img src="<?php echo (substr($v['goods_shipin_pic'],1)) ?>" width="50" height="50" />
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">简介：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_shipin_content']}
                                    </div>
                                </div>
                                <div class="row cl order-border-b pt-5 pb-5">
                                    <label class="form-label col-xs-4 col-sm-2 text-r">链接地址：</label>
                                    <div class=" col-xs-8 col-sm-9">{$v['goods_shipin_url']}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </foreach>
            </div>
        </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="__PUBLIC__/lib/webuploader/0.1.5/webuploader.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $.Huitab("#tab_demo .tabBar span", "#tab_demo .tabCon", "current", "click", "0");

    });
    </script>
</body>

</html>
