                                                                                                                  <!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/respond.min.js"></script>
<![endif]-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
		<script type="text/javascript">
			var catinfo = new Array();//声明一个缓存变量，存储获得出来的分类信息
			  //根据当前分类 自动关联获取次级分类信息
			  function show_catinfo(obj,mark){
			    var cat_ida = $(obj).val(); //获得当前分类的id信息
			    if(typeof catinfo[cat_ida] === 'undefined'){
			      //通过ajax获取次级分类信息
			      $.ajax({
			        url:"__MODULE__/Category/getCatInfoB",
			        data:{'cat_ida':cat_ida},
			        dataType:'json',
			        async:false,
			        type:'get',
			        success:function(msg){
			          //console.log(msg);[Object { cat_id="5", cat_name="电子书"}, Object { cat_id="6", cat_name="数字音乐"}, Object { cat_id="7", cat_name="音像"}]
			          //遍历msg，使得数据 与 html代码结合并追加给页面
			          //m为键，n为遍历到的dom对象
			          var s = "";
			          $.each(msg,function(m,n){
			            s += '<option value="'+n.cat_id+'">'+n.cat_name+'</option>';
			          });

			          catinfo[cat_ida] = s; //缓存请求过的分类信息
			        }
			      });
			    }
			    $('#cat_id'+mark+' option:not(:first)').remove(); //删除旧的
			    $('#cat_id'+mark).append(catinfo[cat_ida]); //追加新的
			  }
</script> 
		<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>产品列表</title>
	</head>
	<body>
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新">
				<i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="page-container">
        <form method="post" id="myFormId" action="__CONTROLLER__/showList">
			<div class="text-c">
				产品品名：<input type="text" name="goods_name" placeholder="请输入产品品名" style="width:150px" class="input-text">
				产品分类：<span class="select-box"style=" width:150px;height: 31px">
						<select name="category" class="select" id="cat_idA" onchange="show_catinfo(this,'B')">
						    <option value="0">请选择产品分类</option>
							<foreach name="categorys" item="v" >
								<option value="<?php echo $v['cat_id'] ?>"><?php echo $v['cat_name'] ?></option>
							</foreach>
						</select>
						</span>
				所属系列：<span class="select-box"style=" width:150px;height: 31px">
						    <select name="cat_id" id="cat_idB" class="select">
								<option value='0'>-请选择-</option>
						    </select>
						</span>
				首页展示：<span class="select-box"style=" width:150px;height: 31px">
						    <select name="status" class="select">
						        <option value=''>请选择</option>
								<option value='0'>否</option>
								<option value='1'>是</option>
						    </select>
						</span>
				<button name="" id="tijiao" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
			</div>
		</form>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" id="btndel" class="btn btn-danger radius" onclick="activity_dels(this)">
				<i class="Hui-iconfont" id="btndel">&#xe6e2;</i> 批量删除</a>
				<!-- <a class="btn btn-primary radius" onclick="article_add('添加商品','__MODULE__/Goods/addAction/','800','500')" href="javascript:;">
					<i class="Hui-iconfont">&#xe600;</i> 添加产品</a></span> <span class="r">共有数据：<strong><?php echo $allmoney[0][count] ?></strong> 条</span> -->
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"></th>
							<th width="80">ID</th>
							<th width="180">产品logo</th>
							<th width="120">产品品名</th>
							<th width="120">产品容积</th>
							<th width="120">产品颜色</th>
							<th width="180">产品特点</th>
							<th width="180">收藏人数</th>
							<th width="180">添加时间</th>
							<th width="180">修改时间</th>
							<th width="180">操作</th>
						</tr>
					</thead>
					<tbody>
					<foreach name="goods" item="v">
						<tr class="text-c">
							<td><input type="checkbox" id="aid" name="huodong" value="<?php echo $v['goods_id'] ?>" /></td>
							<td><?php echo $v['goods_id'] ?></td>
							<td><img src = "<?php echo substr($v['goods_logo'],1)?>" width="50" height = "50"></td>
							<td><?php echo $v['goods_name'] ?></td>
							<td><?php echo $v['goods_rongji'] ?></td>
							<td><?php echo $v['goods_color'] ?></td>
							<td><?php echo $v['goods_tedian'] ?></td>
							<td><u style="cursor:pointer" class="text-primary" onClick="article_list('查看','__CONTROLLER__/goods_shoucangList/goods_id/<?php echo $v['goods_id'] ?>','800','500')" title="查看"><?php echo $v['goods_shoucang'] ?>人</u></td>
							<td><?php echo date('Y-m-d H:i:s', $v['goods_addtime']) ?></td>
							<td><?php echo date('Y-m-d H:i:s', $v['goods_uptime']) ?></td>
							<td class="td-manage">
								<a title="编辑" href="__CONTROLLER__/editGoods/aid/<?php echo $v['goods_id'] ?>" class="ml-10" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6df;</i>
								</a>
								<a title="删除" href="javascript:;" onclick="activity_del(this,'<?php echo $v['goods_id'] ?>')" class="ml-10" style="text-decoration:none">
									<i class="Hui-iconfont">&#xe6e2;</i>
								</a>
								<a href="javascript:;" class="ml-10" onclick="activity_detail('查看','__CONTROLLER__/showList/aid/<?php echo $v['goods_id'] ?>','800','500')">查看</a>
							</td>
						</tr>
					</foreach>
					</tbody>

				</table>
			</div>
			<div class="pagination ue-clear">
				<div id="page" class="page">
						<?php echo $page ?>
			     </div>
            </div>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->

		<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script>
		<script type="text/javascript">
			/*商品-添加*/
			function article_add(title, url, w, h) {
				layer_show(title, url, w, h);
			}
			/*商品-查看*/
			function article_list(title, url, w, h) {
				layer_show(title, url, w, h);
			}
			/*商品-查看详情*/
			function activity_detail(title, url, w, h) {
				layer_show(title, url, w, h);
			}

			/*商品-编辑*/
			function activity_edit(title, url, w, h) {
				layer_show(title, url, w, h);
			}

			/*商品-删除*/
			function activity_del(obj, id) {
				layer.confirm('确认要删除吗？', function(index) {
					$.ajax({
						type: 'get',
						url: '__CONTROLLER__/del_Goods',
						data:{'aid':id},
						dataType: 'json',
						success: function(data) {
							if(data.code == 1){
							$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});
						}
					},
						error: function(data) {
							console.log(data.msg);
						},
					});
				});
			}
    //给删除按钮添加点击事件(批量删除)
    	function activity_dels(obj) {
        	layer.confirm('确认要删除吗？', function(index) {
        		        //获取复选框的id值
	        var id = $(':checkbox:checked');    //jQuery对象,类数组的对象
	        var ids = '';   //要求ids的形式是 1,2,3,4,5
	        for(var i = 0;i < id.length;i++){
	            ids = ids + id[i].value + ',';
	        }
	        //剔除右边的逗号
	        ids = ids.substring(0,ids.length-1);
					$.ajax({
						type: 'get',
						url: '__CONTROLLER__/del_Goods',
						data:{'aid':ids},
						dataType: 'json',
						success: function(data) {
							if(data.code == 1){
								$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon: 1,
								time: 1000,
							},function(){
								window.location.href=window.location.href;
							});
						}
					}
					});
				});
        window.location.href = '__CONTROLLER__/delAction/aid/' + ids; //Tp框架中的写法
    };
$(function(){
    //给编辑按钮添加点击事件
    $('#btnedit').on('click',function(){
        //获取复选框的id值
        var id = $(':checkbox:checked').val();
        //跳转
        window.location.href = '__CONTROLLER__/edit/id/' + id;
    });
});
		</script>
	</body>

</html>